/*BODY STYLING*/
body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(images/MRC.jpg);
    background-size: 375px 480px;
    margin: 0; 
    color: white; 
}

.image-section {
  background-image: url(images/mrc_djc.jpg);
  background-size: 100%;
  height: 260px;
  width: 376px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.slide-show-nav {
  height: 50px;
  width: 45px;
  padding-right: 10px;
}

.arrow-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  align-items: center;
}

.right-arrow,
.left-arrow {
  height: 50px;
  width: 50px;

}

.right-arrow {

}



/*SECTION STYLING*/
.wrapper {
  display: grid;
  grid-gap: 0;
  grid-template-areas: 
    "header header"
    "sidebar sidebar"
    "content content"
    "main main"
    "footer footer";
}

/*ICON BOX STYLING*/
.icon-box {
  height: 8.70rem;
  width: 11.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.large-icon {
  height: 50px;
  width: 50px;
}

.small-icon {
  height: 10px;
  width: 10px;
}

p {
  margin-top: 2px;
}

button {
  color: white;
  height: 20px;
  width: 80px;
  border: 2px solid #FFFFFF;
  background: none;
}

/*BOX1 STYLING*/
.box1 {
  background: linear-gradient(#75824E, #A12090);
  grid-area: 1 / 1 / 2 / 2;
}

.bio-text {
  font-size: 10pt;
  text-align: start;
  padding-left: 10px;
  margin-bottom: 7px;
  font-weight: 300;
}

.bio-title {
  font-size: 14pt;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 5px;
}

/*BOX2 STYLING*/
.box2 {
  background: linear-gradient(#520078, #A14C96);
  grid-area: 1 / 2 / 2 / 3;
}

/*BOX3 STYLING*/
.box3 {
  background: linear-gradient(#6B4E78, #467B33);
  grid-area: 2 / 1 / 3 / 2;
}

/*BOX4 STYLING*/
.box4 {
  background: linear-gradient(#212C00, #540049);
  grid-area: 2 / 2 / 3 / 3;
}

/*BOX5 STYLING*/
.box5 {
  background: linear-gradient(#1E002C, #3F4D3A);
  grid-area: 3 / 1 / 4 / 2;
}

/*BOX6 STYLING*/
.box6 {
  background: linear-gradient(#520078, #A12090);
  grid-area: 3 / 2 / 4 / 3;
}

/*BOX7 STYLING*/
.box7 {
  background: linear-gradient(#75824E, #A14C96);
  grid-area: 4 / 1 / 5 / 2;
}

/*BOX8 STYLING*/
.box8 {
  background: linear-gradient(#6B4E78, #467B33);
  grid-area: 4 / 2 / 5 / 3;
}



/*MEDIA QUERIES*/
@media screen and (min-width: 500px) {

  .wrapper {
    grid-template-areas:
      "header header header"
      "main main main"
      "footer footer footer";    
    /*grid-template-columns: 2fr 1fr;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


  }

}

@media screen and (min-width: 700px) {
  .wrap-all {
    display: flex;
    flex-direction: row-reverse;
  }

  .image-section {
    /*border: 1px dashed;*/
    background-image: url(images/mrc_djc.jpg);
    background-position: bottom 0px left 550px;
    background-size: 208%;
    height: 815px;
    width: 1410px;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
  }

  .wrapper {
    display: grid;
    grid-template-areas: 
      "header header header"
      "main main main"
      "footer footer footer";  
    grid-template-columns: 1fr 1fr 1fr;
  }

  .icon-box {
    height: 17rem;
    width: 17rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .large-icon {
    height: 50px;
    width: 50px;
  }

  .small-icon {
    height: 20px;
    width: 20px;
  }

  p {
    margin-top: 2px;
  }

  .button-container {
    padding-left: 30px;
  }
  button {
    color: white;
    height: 60px;
    width: 165px;
    border: 2px solid #FFFFFF;
    background: none;
    margin: 5px;
    font-size: 16pt;
  }

  /*BOX1 STYLING*/
  .box1 {
    background: linear-gradient(#75824E, #A12090);
    grid-area: 1 / 1 / 2 / 3;
    width: 100%;
    justify-content: normal;
    align-items: flex-start;
  }

  .bio-text {
    font-size: 14pt;
    text-align: start;
    padding-left: 35px;
    margin-bottom: 20px;
    font-weight: 300;
  }

  .bio-title {
    font-size: 30pt;
    font-weight: 700;
    margin: 35px auto 5px 30px;
  }

  /*BOX2 STYLING*/
  .box2 {
    background: linear-gradient(#520078, #A14C96);
    grid-area: 1 / 3 / 2 / 4;
  }

  /*BOX3 STYLING*/
  .box3 {
    background: linear-gradient(#6B4E78, #467B33);
    grid-area: 2 / 1 / 3 / 2;
  }

  /*BOX4 STYLING*/
  .box4 {
    background: linear-gradient(#212C00, #540049);
    grid-area: 2 / 2 / 3 / 3;
  }

  /*BOX5 STYLING*/
  .box5 {
    background: linear-gradient(#1E002C, #3F4D3A);
    grid-area: 2 / 3 / 3 / 4;
  }

  /*BOX6 STYLING*/
  .box6 {
    background: linear-gradient(#520078, #A12090);
    grid-area: 3 / 1 / 4 / 2;
  }

  /*BOX7 STYLING*/
  .box7 {
    background: linear-gradient(#75824E, #A14C96);
    grid-area: 3 / 2 / 4 / 3;
  }

  /*BOX8 STYLING*/
  .box8 {
    background: linear-gradient(#6B4E78, #467B33);
    grid-area: 3 / 3 / 4 / 4;
  }

}










